html, body {
    background-color: #f8f9fa; 
    color: #212529;     
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
    margin: 0;
}

.box {
    display: flex;
    flex-direction: column;
    transition: .25s;
    flex-grow: 1;
}

/* TARGET SPECIFIC ELEMENT TO OVERRIDE BOOTSTRAP STYLES */
body h1, body h2 {
    text-align: center;
    color: #000000;
}

.btn-warning {
    background-color: #ffa333 !important;
    border-color: #ffa333 !important;
    color: white !important;
}

/* SPECIFIC SELECTOR CHAIN PREVENTS BOOTSTRAP OVERRIDES */
body .navbar {
    background-color: #333333 !important;
}

