<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>dbUserName</param-name>
        <param-value>APP</param-value>
    </context-param>
    <context-param>
        <param-name>dbPassword</param-name>
        <param-value>APP</param-value>
    </context-param>
    <context-param>
        <param-name>jdbcDriverURL</param-name>
        <param-value>jdbc:derby</param-value>
    </context-param>
    <context-param>
        <param-name>dbHostName</param-name>
        <param-value>localhost</param-value>
    </context-param>
    <context-param>
        <param-name>dbPort</param-name>
        <param-value>1527</param-value>
    </context-param>
    <context-param>
        <param-name>databaseName</param-name>
        <param-value>LoginDB</param-value>
    </context-param>
    <context-param>
        <param-name>driver</param-name>
        <param-value>org.apache.derby.jdbc.ClientDriver</param-value>
    </context-param>

    
    
    <context-param>
        <param-name>EncryptionKey</param-name>
        <param-value>0bj3Ct1f!c@t1on$</param-value>
    </context-param>
    
    <context-param>
        <param-name>SecretKey</param-name>
        <param-value>6LfUt68sAAAAAIZeSTmgd49t0wbT86WIyxRyfkVS</param-value>
    </context-param> 
    
    
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>Servlets.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>CaptchaServlet</servlet-name>
        <servlet-class>Servlets.CaptchaServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CaptchaServlet</servlet-name>
        <url-pattern>/CaptchaServlet</url-pattern>
    </servlet-mapping>
    
     <session-config>
        <session-timeout>30</session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <error-page>
        <error-code>401</error-code>
        <location>/Error.jsp</location>
    </error-page>
    <error-page>
        <error-code>403</error-code>
        <location>/Error.jsp</location>
    </error-page>
    <error-page>
        <error-code>404</error-code>
        <location>/Error.jsp</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/Error.jsp</location>
    </error-page>
</web-app>
